# Ignore everything in this directory
*
# Except this file
!.gitignore
# Don't ignore the weights
!weights.pkl
# Include the test data file for ease of use
!test_set.pkl
!test_set_v3.pkl
# Don't ignore comparison data
!ANTARES_Limits.txt
!IceCube_Limits.txt
!Thermal_Relic.txt
!Unitarity_Bound.txt